*{
    margin:0;
    padding: 0;
}
#container{

}
#nav{
    height:250px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}
#nav_header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#nav_header ul{
    display: flex;
    width:80%;
    height: 100px;
}
#nav_header ul li{
    list-style: none;
    width: 30%;
    height: 100px;
    line-height: 100px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}


#nav_header ul li:nth-child(2) img,
#nav_header ul li:nth-child(4) img,
#nav_header ul li:nth-child(5) img{
    display: none;
}
#nav_header ul li:nth-child(3),
#nav_header ul li:nth-child(6){
    display: none;
}


#nav_header ul li img{
    margin-top: 20px;
    width: 45px;
    height: 45px;
}
#nav_header ul li a{
    text-decoration: none;
    color: black;
}

#nav_body{
    height: 120px;
    padding: 10px;
}
#nav_body_banner{
    font-size: 35px;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 10px;
}
#nav_body_ul{
    width: 75%;
    list-style: none;
    display: flex;
    margin-left: -12px;


}
#nav_body_ul li{
    width:30%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#nav_body_ul li:not(:nth-child(3)) a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}
#nav_body_ul li:nth-child(3) a{
    text-decoration-style: solid;
    text-decoration-color: #00A862;
    font-size: 20px;
}


#con_right{
    padding: 24px 0px;
    background-color: #F7F7F7;
}


#con_right_top{
    width:80%;
    margin:0 auto;
}
#top_one{
    height:500px;
    display: flex;
    justify-content: space-between;
}
#top_one_left{
    background-image: url("../img/stars.gif");
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
}
#top_one_right {
    width: 50%;
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
    position: relative;
    background-color: #FFFFFF;
}
#top_one_right #p1{
    font-size: 32px;
}
#top_one_right #p2{
    font-size: 20px;
}
#top_one_right a {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    border: 2px solid blue;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    bottom: 24px;
    text-decoration: none;
}


#top_two{
    height:500px;
    display: flex;
    justify-content: space-between;
}
#top_two_lef{
    width: 50%;
    height: 100%;
    padding: 3%;
    padding-top: 9%;
    box-sizing: border-box;
}
#top_two_lef p:nth-child(1){
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: gray;
}
#top_two_lef p:nth-child(2){
    font-size: 40px;
    margin-bottom: 20px;
}
#top_two_lef p:nth-child(3){
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
}
#top_two_lef p:nth-child(4){
    font-size: 20px;
    color: darkgoldenrod;
    margin-bottom: 20px;
}
#top_two_lef p:nth-child(5){
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
}
#top_two_lef p:nth-child(6){
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
}

#top_two_right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top_two_right img{
    width:70%;
    height: 40%;
}


#card1{
    height:500px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    box-sizing: border-box;
    border-radius: 10px;
}
#card1 img{
    width:30%;
    height: 35%;
}
#card1 div{
    width: 50%;
    height: 100%;
}
#card1 div p:nth-child(1){
    font-size: 35px;
    margin-bottom: 30px;
}
#card1 div p:nth-child(2){
    font-size: 28px;
    margin-bottom: 10px;
}
#card1 div p:nth-child(3){
    font-size: 28px;
    margin-bottom: 30px;
}
#card1 div ul li{
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
    list-style-image: url("../img/icon-star-dark.svg");
    margin-left: 19px;
}


#card2{
    margin-top: 20px;
    height:400px;
    background-color: #00A862;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    box-sizing: border-box;
    border-radius: 10px;
}
#card2 img{
    width:30%;
    height: 60%;
}
#card2 div{
    width: 50%;
    height: 100%;
}
#card2 div p:nth-child(1){
    font-size: 35px;
    margin-bottom: 30px;
}
#card2 div p:nth-child(2){
    font-size: 25px;
    margin-bottom: 30px;
}
#card2 div ul li{
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
    list-style-image: url("../img/icon-star-dark.svg");
    margin-left: 19px;
}




#card3{
    margin-top: 20px;
    height:500px;
    background-color:#C2A661;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    box-sizing: border-box;
    border-radius: 10px;
}
#card3 img{
    width:30%;
    height: 35%;
}
#card3 div{
    width: 50%;
    height: 100%;
}
#card3 div p:nth-child(1){
    font-size: 35px;
    margin-bottom: 30px;
}
#card3 div p:nth-child(2){
    font-size: 28px;
    margin-bottom: 10px;
}
#card3 div p:nth-child(3){
    font-size: 28px;
    margin-bottom: 30px;
}
#card3 div ul li{
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
    list-style-image: url("../img/icon-star-dark.svg");
    margin-left: 19px;
}



#con_right_center{
    width: auto;
    height:400px;
    background-color: #FFFFFF;
    margin-top: 20px;
}

#con_right_center #fa{
    width: 80%;
    height: 100%;
    padding:20px 0px;
    margin:0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}
#fa > div:nth-child(1){
    width: 50%;
    height: 100%;
    padding-right: 5%;
    padding-top: 5%;
    box-sizing: border-box;
    position: relative;
}
#fa > div:nth-child(1) p:nth-child(1){
    font-size: 30px;
}
#fa > div:nth-child(1) p:nth-child(2){
    font-size: 25px;
    color: gray;
}
#fa > div:nth-child(1) a{
    position: absolute;
    left: 10px;
    bottom: 40px;
    width:150px;
    height: 50px;
    border:1px solid green;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: green;

}
#fa > div:nth-child(2){
    width: 50%;
    height: 100%;
    padding-left: 5%;
    padding-top: 5%;
    box-sizing: border-box;
    position: relative;
}
#fa > div:nth-child(2) p:nth-child(1){
    font-size: 30px;
}
#fa > div:nth-child(2) p:nth-child(2){
    font-size: 25px;
    color: gray;
}

#fa > div:nth-child(2) a{
    display: inline-block;
    width:150px;
    height: 50px;
    border:1px solid green;
    position: absolute;
    left: 60px;
    bottom: 40px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: green;
}


#con_right_foot {
    margin-top: 40px;
    width:80%;
    box-sizing: border-box;
    margin:0 auto;
}

#con_right_foot #top1 {
    height: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.foot_question {
    height: 55px;
    padding: 18px;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.foot_question img {
    position: absolute;
    right: 3px;
    top: 5px;
}

.foot_question h2 {
    margin-bottom: 18px;
}

#foot_question1:hover {
    height: auto;
}

#foot_question1:hover #foot_question1_i {
    transform: rotate(180deg);
}

#foot_question2:hover #foot_question2_i {
    transform: rotate(180deg);
}

#foot_question3:hover #foot_question3_i {
    transform: rotate(180deg);
}

#foot_question2:hover {
    height: auto;
}

#foot_question3:hover {
    height: auto;
}

#con_right_final {
    height: 30px;
    width: 80px;
    border: 1px solid green;
    border-radius: 4px;
    color: green;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}


#con_fixed{
    width: 100px;
    height: 50px;
    background-color: #00A862;
    border: 1px solid #00A862;
    border-radius:20px;
    position: fixed;
    bottom:5px;
    right:5px;
    text-align: center;
    line-height: 50px;
}
#con_fixed a{
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;


}

